﻿@model WeatherInfoViewModel;
@{
    ViewData["Title"] = "Accueil";

}

<div class="container">
    <div class="text-center mt-2 mb-5">
        <h1 class="display-4 text-primary">Bienvenue sur Weather App</h1>
        <hr />
        <h6>Weather App affiche des informations météorologiques de la ville saisie dans le formulaire</h6>
    </div>
    <div class="row mt-4">
        <div class="col-lg-3 col-sm-1"></div>
        <div class="text-center col-lg-6 col-sm-12 card border-primary">
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="City">Ville</label>
                        <input type="text" asp-for="City" class="form-control" placeholder="Entrer la ville">
                        <span class="text-danger" asp-validation-for="City"></span>
                    </div>
                    <button type="submit" class="btn btn-primary"
                            asp-controller="Home" asp-action="GetWeatherInfo">
                        Valider
                    </button>
                </form>
            </div>
        </div>
    </div>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="row mt-4">
            <div class="col-lg-3 col-sm-1"></div>
            <div id="weather-results" class="text-center col-lg-6 col-sm-12">
                <div class="row mt-4 alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            </div>
        </div>
    }
    <div class="row mt-5">
        <div class="col-lg-3 col-sm-1"></div>
        <div id="weather-results" class=" row text-center col-lg-6 col-sm-12">
            <div class="col-6"> <h4>Ville : @Model.City</h4></div>
            <div class="col-6"> <h4 class="text-primary"> <strong>@Model.WeatherInfo.Main.Temp °C</strong></h4></div>
            <div class="row w-100 mt-2">
                <div class="col-12"><h5>Ressenti : @Model.WeatherInfo.Main.Feels_like °C</h5></div>
                <div class="col-12"> <h5>T°C Maximum : @Model.WeatherInfo.Main.Temp_max °C</h5></div>
                <div class="col-12"> <h5>T°C Minimum : @Model.WeatherInfo.Main.Temp_min °C</h5></div>
                <div class="col-12"> <h5>Humidité : @Model.WeatherInfo.Main.Humidity %</h5></div>
                <div class="col-12"> <h5>Pression : @Model.WeatherInfo.Main.Pressure Bar</h5></div>
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}